@page "/EventSignUp"
@using CampTiger.Models
@using CampTiger.Data
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject EventService  eventService
@inject UserEventService userEventService
@inject GroupService groupService
@inject UserGroupService userGroupService
<h3>Event Sign Up</h3>

@if (events == null)
{
    <p><em> Loading...</em></p>
}
else
{
    
    <div class="card-deck">
        @foreach (var sect in events)
        {
            <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
                <div class="card-header">
                    <h3>@sect.Name</h3>
                    <h5>Description: @sect.Description</h5>
                    <h5>Event ID: @sect.EventId</h5>
                    <h5>Date: @sect.Date</h5>
                    <h5>Time: @sect.Time</h5>
                </div>
                <div class="card-footer text-center">
                    @if (sect.EventId == null)
                    {
                        <input placeholder="There's no ID here" />
                    }
                    else
                    {
                        <label>Type the Event ID and click Sign-Up to join the Group</label>
                        <input type="text" placeholder=@sect.EventId @bind=@eventId>
                        <button @onclick="@Insert" class="btn btn-primary"> Sign-Up </button>
                    }
                </div>
            </div>
        }
    </div>
}

@code {

    List<Event> events;
    string eventId;
    string userId;
    private enum MODE { None, Add };
    MODE mode = MODE.None;
    Group group;
    public Group current { get; set; } = new Group();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        events = await eventService.GetEventsAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var currentUser = await UserManager.GetUserAsync(user);
        userId = currentUser.Id;
    }

    protected async Task Insert()
    {
        UserEvent g = new UserEvent()
        {
            EventId = eventId,
            UserId = userId
        };
        await userEventService.InsertUserEventAsync(g);
        await load();
        mode = MODE.None;
    }
}
