@page "/EventManagement"
@using CampTiger.Models
@using CampTiger.Data
@using Microsoft.AspNetCore.Identity

@attribute [Authorize(Roles = "groupleader")]

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime
@inject EventService eventService
@inject AspNetUsersService aspNetUsersService
@inject GroupService  groupService

<style>


    #searchKey {
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 17px;
        padding: 13px 20px 13px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
</style>

<h1> Events</h1>
<p>Create, Read, Edit, and Delete Event records.</p>
<input type="text" id="searchKey" @onkeyup="@LookUp" placeholder="Search for events by name..." title="Type in a name">
<br />
<p>Manage event members:</p>
<a href="MemberAcceptanceManagement" class="btn btn-info" role="button">Manage Event Members</a>
<br />

@foreach (var sect in groups)
{
    if (sect.Leader == userId)
    {
        Group = sect.GroupId;
        Console.WriteLine(@Group);
        Console.WriteLine(userId);
        break;
    }
    else
    {
        leadsGroup = false;
    }
}
@if (events == null)
{
    <p><em> Loading...</em></p>
}
else if (!leadsGroup)
{
    <p>You have the permissions of a group leader, but are not actually leading a group! Please message the administrator.</p>
}
else
{
    <button name="btnAdd" @onclick="@Add" class="btn btn-success">Add Event</button>
    <table class='table table-hover' id="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Leader</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in events)
            {
                @foreach (var user in users)
                {
                    @if (user.Id == item.Leader)
                    {
                        <tr @onclick="@(() => Show(item.EventId))">
                            <td>@item.Name</td>
                            <td>@user.FirstName  @user.LastName</td>
                            <td>@item.Description</td>
                            <td>@item.Date</td>
                            <td>@item.Time</td>
                            <td>@item.Capacity</td>
                            <input type="hidden" plachehold="@eventId" @bind="@item.EventId" />
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

}
@if (events != null && mode == MODE.Add)
{
    <label>EventName: </label>
    <br />
    <input plachehold="Name" @bind="@name" />
    <br />
    <label>Description: </label>
    <br />
    <input plachehold="Description" @bind="@description" />
    <br />
    <label>Date: </label>
    <br />
    <input plachehold="Date" @bind="@date" />
    <br />
    <label>Time: </label>
    <br />
    <input plachehold="Time" @bind="@time" />
    <br />
    <label>Capacity: </label>
    <br />
    <input plachehold="Capacity" @bind="@capacity" />
    <br />
    <button @onclick="@Insert" class="btn btn-warning">Insert</button>
}

@if (events != null && mode == MODE.EditDelete) // Update & Delete form
{
    <label>EventName: </label>
    <br />
    <input plachehold="Name" @bind="@name" />
    <br />
    <label>Description: </label>
    <br />
    <input plachehold="Details" @bind="@description" />
    <br />
    <label>Date: </label>
    <br />
    <input plachehold="Date" @bind="@date" />
    <br />
    <label>Time: </label>
    <br />
    <input plachehold="Time" @bind="@time" />
    <br />
    <label>Capacity: </label>
    <br />
    <input plachehold="Details" @bind="@capacity" />
    <br />
    <button @onclick="@Update" class="btn btn-primary">Update</button>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <button @onclick="@Delete" class="btn btn-danger">Delete</button>
}

@functions{
    List<Event> events;
    List<AspNetUsers> users;
    List<Group> groups;
    string userId;
    string eventId;
    string leader;
    string Group;
    string name;
    string description;
    string date;
    string time;
    string capacity;
    Boolean leadsGroup = true;
    private enum MODE { None, Add, EditDelete };
    MODE mode = MODE.None;
    Event activity;

    protected async Task Insert()
    {
        eventId = Guid.NewGuid().ToString();

        Event e = new Event()
        {
            EventId = eventId,
            Leader = userId,
            Group = Group,
            Name = name,
            Description = description,
            Date = date,
            Time = time,
            Capacity = capacity
        };
        await eventService.InsertEventAsync(e);
        ClearFields();
        await load();
        mode = MODE.None;
    }

    protected void Add()
    {
        //ClearFields();
        mode = MODE.Add;
    }

    protected void ClearFields()
    {
        eventId = string.Empty;
        Group = string.Empty;
        name = string.Empty;
        description = string.Empty;
        date = string.Empty;
        time = string.Empty;
        capacity = string.Empty;
    }

    protected async Task Update()
    {
        Event ev = new Event()
        {
            EventId = eventId,
            Leader = leader,
            Group = Group,
            Name = name,
            Description = description,
            Date = date,
            Time = time,
            Capacity = capacity
        };

        await eventService.UpdateEventAsynC(eventId, ev);
        ClearFields();
        await load();
        mode = MODE.None;
    }

    protected async Task Delete()
    {
        await eventService.DeleteEventAsync(eventId);
        ClearFields();
        await load();
        mode = MODE.None;
    }

    protected async Task Show(string id)
    {
        activity = await eventService.GetEventByIdAsync(id);
        eventId = activity.EventId;
        Group = activity.Group;
        leader = activity.Leader;
        name = activity.Name;
        description = activity.Description;
        date = activity.Date;
        time = activity.Time;
        capacity = activity.Capacity;
        mode = MODE.EditDelete;
    }

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        events = await eventService.GetEventsAsync();
        users = await aspNetUsersService.GetAspNetUsersAsync();
        groups = await groupService.GetGroupAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var currentUser = await UserManager.GetUserAsync(user);
        userId = currentUser.Id;
    }

    async Task LookUp()
    {
        await JsRuntime.InvokeVoidAsync("mySearch");
    }
}