@page "/EventSignUp"
@using CampTiger.Models
@using CampTiger.Data
@using Microsoft.AspNetCore.Identity

@attribute [Authorize(Roles = "admin, groupleader, normal")]

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject EventService  eventService
@inject UserEventService userEventService
@inject GroupService groupService
@inject UserGroupService userGroupService
<h3>Event Sign Up</h3>

@if (events == null)
{
    <p><em> Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Time</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sect in events)
            {
                <tr>
                    <td>@sect.Name</td>
                    <td>@sect.Description</td>
                    <td>@sect.Date</td>
                    <td>@sect.Time</td>
                    <td>@sect.Capacity</td>
                    <td>
                        <button class="btn btn-primary" @onclick="(() => Insert(sect))">Sign-Up</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    List<Event> events;
    string eventId;
    string userId;
    private enum MODE { None, Add };
    MODE mode = MODE.None;
    Group group;
    public Group current { get; set; } = new Group();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    protected async Task load()
    {
        events = await eventService.GetEventsAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var currentUser = await UserManager.GetUserAsync(user);
        userId = currentUser.Id;
    }

    protected async Task Insert(Event activity)
    {
        UserEvent g = new UserEvent()
        {
            EventId = activity.EventId,
            UserId = userId
        };
        await userEventService.InsertUserEventAsync(g);
        await load();
        mode = MODE.None;
    }
}
